.divisionPrmiamry {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: "Lato", sans-serif;
  font-size: 26px;
  max-width: 610px;
  min-width: 610px;
  margin: 10px;
}
@media (max-width: 767px) {
  .divisionPrmiamry {
    display: flex;
    flex-direction: row;
    font-family: "Lato", sans-serif;
    font-size: 26px;
    justify-content: flex-start;
    max-width: 310px;
    min-width: 310px;
    margin: 10px;
  }
}

.divisionSecond {
  align-items: center;
  background-color: hsl(0, 0%, 99%);
  box-shadow: 1px 2px 24px -20px rgba(66, 68, 90, 1);
  display: flex;
  justify-content: flex-start;
  min-width: 610px;
  padding: 10px;
  margin-bottom: 2px;
  -moz-box-shadow: 1px 2px 24px -20px rgba(66, 68, 90, 1);
  -webkit-box-shadow: 1px 2px 24px -20px rgba(66, 68, 90, 1);

  font-family: "Lato", sans-serif;
}
@media (max-width: 767px) {
  .divisionSecond {
    align-items: center;
    background-color: hsl(0, 0%, 99%);
    box-shadow: 1px 2px 24px -20px rgba(66, 68, 90, 1);
    display: flex;
    justify-content: flex-start;
    min-width: 310px;
    padding: 10px;
    margin-bottom: 2px;
    -webkit-box-shadow: 1px 2px 24px -20px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 2px 24px -20px rgba(66, 68, 90, 1);

    font-family: "Lato", sans-serif;
  }
}
.divisionLast {
  background-color: hsl(0, 0%, 99%);
  box-shadow: 1px 2px 24px -20px rgba(66, 68, 90, 1);
  font-family: "Lato", sans-serif;
  margin-top: 7px;
  padding: 10px;
  min-width: 610px;
  -webkit-box-shadow: 1px 2px 24px -20px rgba(66, 68, 90, 1);
  -moz-box-shadow: 1px 2px 24px -20px rgba(66, 68, 90, 1);
}
@media (max-width: 767px) {
  .divisionLast {
    background-color: hsl(0, 0%, 99%);
    padding: 10px;
    min-width: 310px;
    -webkit-box-shadow: 1px 2px 24px -20px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 2px 24px -20px rgba(66, 68, 90, 1);
    box-shadow: 1px 2px 24px -20px rgba(66, 68, 90, 1);
    font-family: "Lato", sans-serif;
    margin-top: 7px;
  }
}
.divisionTasks {
  background-color: hsl(0, 0%, 99%);
  min-width: 610px;
  min-height: 30px;
  margin-top: 2px;
  
}
@media (max-width: 767px) {
  .divisionTasks {
    background-color: hsl(0, 0%, 99%);
    min-width: 310px;
    min-height: 20px;
    margin-top: 2px;

  }
}

.divisionMiddle {
  align-items: flex-start;
  background-color: hsl(0, 0%, 99%);
  box-shadow: 1px 2px 24px -20px rgba(66, 68, 90, 1);
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  justify-content: center;
  min-height: 30px;
  min-width: 610px;
  padding: 10px;
  -moz-box-shadow: 1px 2px 24px -20px rgba(66, 68, 90, 1);
  -webkit-box-shadow: 1px 2px 24px -20px rgba(66, 68, 90, 1);
}

@media (max-width: 767px) {
  .divisionMiddle {
    align-items: flex-start;
    background-color: hsl(0, 0%, 99%);
    box-shadow: 1px 2px 24px -20px rgba(66, 68, 90, 1);
    display: flex;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    justify-content: center;
    min-height: 30px;
    min-width: 310px;
    padding: 10px;
    -webkit-box-shadow: 1px 2px 24px -20px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 2px 24px -20px rgba(66, 68, 90, 1);
  }
}
